/* 顔写真 */
.self_image{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: gray;
    overflow: hidden;
}

.new_post_btn {
  margin-right: 20px; /* 適切なマージンを設定して右端に寄せる */
}

/* ここからボタンの修飾 */
.display_btn{
    width:80%;
    display: flex;
    margin:10px auto;
    text-align: center;
    justify-content: space-between;
    
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

a.btn-gradient {
  font-weight: normal;

  color: #fff;
  border-radius: 0;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(40%, #ff3cac),
    to(#562b7c)
  );
  background-image: -webkit-linear-gradient(left, #ff3cac 40%, #562b7c 100%);
  background-image: linear-gradient(90deg, #ff3cac 40%, #562b7c 100%);
}

a.btn-gradient:after {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  content: "";
  -webkit-transition: all 0.5s;
  transition: all 0.5s;

  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ff3cac),
    color-stop(#562b7c),
    to(#2b86c5)
  );

  background-image: -webkit-linear-gradient(left, #ff3cac, #562b7c, #2b86c5);

  background-image: linear-gradient(90deg, #ff3cac, #562b7c, #2b86c5);
}

a.btn-gradient span {
  position: relative;
  z-index: 1;
}

a.btn-gradient:hover {
  color: #fff;
}

a.btn-gradient:hover:after {
  opacity: 0;
}

a.btn-gradient {
    border-radius: 100vh;
  }

/* ここから写真の箱の修飾 */

/* Add your styles here */
.hidden {
    display: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
  position: relative; /* 相対位置指定 */
  width: 100%; /* Full width initially */
  padding: 0px;
  box-sizing: border-box;
  border: 1px solid #ccc; /* Border for visualization */
  margin: 10px;
  text-align: center;
    
}
.item img {
  max-width: 100%;
  height: auto;
  /* object-fit: cover; */
}

.item p {
  position: absolute; /* 絶対位置指定 */
  top: 0; /* 上端からの位置を0に設定 */
  left: 0; /* 左端からの位置を0に設定 */
  width: 100%; /* Full width of the container */
  transform: translate(0, 0); /* テキストを元の位置に戻す */
  margin: 0; /* デフォルトのマージンを除去 */
  color: #fff; /* テキストの色を調整（任意） */
  font-size: 18px; /* テキストのフォントサイズを調整（任意） */
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); /* テキストに影を追加（任意） */
  background-color: #212529;
}
