/* menu/indexとmenu/showで使用してます */

body{
  background-color: #FCFFE7;
}

/* ここからボタンの修飾 */
.display_btn{
    display: flex;
    align-items: center;
    text-align: center;
    background-color: rgb(95, 70, 48);
    width: 100vw;
    height: 6em;
    position: fixed;
    top: 0;
    z-index: 2;
}

.profile{
  height: 100%;
  aspect-ratio: 1/1;
}

.self_image{
  height: 80%;
  aspect-ratio: 1/1;
  border-radius: 100px;
  background-color: antiquewhite;
  overflow: hidden;
  margin: 10px;
}

.btn{
  margin: 0.5em;
  color:white;
  font-family: "M PLUS 1p";
  font-size: 24px;
  text-decoration-line:none ;
  transition: .3s;
}

.btn:hover{
  transform: scale(1.1);
}

.btn-1day{
  position: absolute;
  left: 22vw;
}

.btn-3days{
  position: absolute;
  left: 47vw;
}

.btn-7days{
  position: absolute;
  left: 70vw;
}

.new-btn{
  color:rgb(95, 70, 48);
  font-size: 20px;
  font-weight: bold;
  background: white;
  text-decoration-line:none ;
  padding: 18px 30px;
  border: rgb(95, 70, 48) 5px solid;
  border-radius: 6px;
  display: inline-block;
  transition: .3s;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2;
  font-family: 'Archivo Black', sans-serif;
}
.new-btn:hover{
  transform: scale(1.1);
}

.refrigerator{
  height: 100px;
  position: fixed;
  bottom: 110px;
  right: 20px;
  z-index: 2;
  transition: .3s;
}

.refrigerator:hover{
  filter: brightness(80%);
  transform: scale(1.1);
}

/* ここから写真の箱の修飾 */

/* Add your styles here */
.hidden {
    display: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 110px 0 0 0;
}

.box{
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

.item {
  margin: 1em auto;
/* ボックス背景色 */
	padding:2em 1em 1em; /* ボックス内側余白 */
	position:relative; /*配置(ここを基準に)*/
  width: 80%;
  background-color: #E0D8B0;
}


.item .menu-img {
  width: 80vw;
  max-width: 400px;
  height: auto;
}

.item > a{
  text-decoration-line:none ;
}

.day-title{
  text-align: center;
  font-family: "M PLUS 1p";
  font-size: 25px;
  font-weight: bold;
  color: rgb(95, 70, 48)
}

.day-number{
  font-family: 'Archivo Black', sans-serif;
  background-color: rgba(255,255,255,.5);/* テープ背景色と透過*/
	border-left: 2px dotted rgba(0,0,0,.1);/* テープのギザギザ左*/
	border-right: 2px dotted rgba(0,0,0,.1);/* テープのギザギザ右*/
	box-shadow: 0 0 5px rgba(0,0,0,0.2); /*テープ影*/
	transform: rotate(-2deg);/*テープの傾き*/
	font-size: 1em;/*タイトル文字の大きさ*/
	color: rgb(95, 70, 48); /*タイトル文字色 */
	padding: 10px 20px;/*タイトルの余白*/
	line-height: 1;/*タイトルの行の高さ*/
	position:absolute;/*配置(ここを動かす)*/
	top: -15px; /*上から（-10px）移動*/
	left: 20px; /*左から(20px)移動*/
}



.content{
	margin: 1em auto; /* ボックスの余白 */
	background-color:#fff; /* ボックス背景色 */
	padding:1em; /* ボックス内側余白 */
	position:relative; /* 配置(ここを基準に) */
	border: 2px solid rgb(95, 70, 48);/* ボックスの線 (太さ　種類　色)*/
}

.comment-title{
  color: rgb(95, 70, 48);
  font-family: 'Archivo Black', sans-serif;
  background-color:#fff; /* タイトル背景色 */
	font-size: 1em;/* タイトル文字の大きさ */
	font-weight:800;
	padding: 0 5px;/*タイトルの余白*/
	line-height: 1;/*タイトルの行の高さ*/
	position:absolute;	/* 配置(ここを動かす) */
	top: -5px; /*上から（-5px）移動*/
	left: 20px; /*左から(20px)移動*/

}

.detail{
  display: flex;
  justify-content: center;
}

.change-btn{
  text-decoration-line: none;
  color: white;
  border: #fff solid 1px;
  padding: 10px;
  border-radius: 6%;
  
}

/* ＝＝＝＝＝＝＝こっから下menu/show用 ＝＝＝＝＝＝＝*/
.show-btn{
  color: white;
  background-color:rgb(95, 70, 48) ;
  padding: 10px;
  font-size: 18px;
  border-radius: 5%;
  text-decoration: none;
  margin: 20px;
}

.show-btn:hover{
  scale: 1.1;
}

.show-btns{
  display: flex;
}
