body{
    background-color: #FCFFE7;
    color: rgb(95, 70, 48);
    font-family: "M PLUS 1p";
  }

/* ここからヘッダーの修飾 */
.display_btn{
    display: flex;
    align-items: center;
    text-align: center;
    background-color: rgb(95, 70, 48);
    width: 100vw;
    height: 6em;
    position: fixed;
    top: 0;
    z-index: 2;
}

.profile{
  height: 100%;
  aspect-ratio: 1/1;
}

.self_image{
  height: 80%;
  aspect-ratio: 1/1;
  border-radius: 100px;
  background-color: antiquewhite;
  overflow: hidden;
  margin: 10px;
}

.btn{
  margin: 0.5em;
  color:white;
  font-family: "M PLUS 1p";
  font-size: 24px;
  text-decoration-line:none ;
  transition: .3s;
}

.btn:hover{
  transform: scale(1.1);
}


/* ==メインの装飾== */
main{
  margin: 100px 0 0;   
}

.buylist-box{
  margin: 1em auto;
  /* ボックス背景色 */
    padding:2em 1em 1em; /* ボックス内側余白 */
    position:relative; /*配置(ここを基準に)*/
    width: 90%;
    max-width: 500px;
    background-color: #E0D8B0;
    border-radius: 19px;
}



/* チェックリストの題名 */

.menu-title{
  font-size: xx-large;
  font-weight: bold;
  border-bottom: 3px solid;
  text-align: center;
}

.list-title{
  display: flex;
  align-items: center;
}
.list-checkbox{
  margin: 4px 4px 4px 0;
  font-size:x-large;
}
.list-detail{
  width: 80%;
  text-align: center;
}

/* チェックリスト一つひとつ */
.buy-line{
  /* display:flex; */
  /* justify-content: space-between; */

}
.list-title-text{
  font-size: 12px;
}

.list-food{
  max-width: 50%;
}

.list-imagebox{
  max-width: 50%;
}

.food-image{
  max-width: 100px;
}

.dd{
  background-color: #FCFFE7;
}

/* 削除編集ボタン */
.btn-area{
  position: absolute;
  right: 10px;
  width: 10vw;
}
.mini-btn{
  border: none;
	border-radius: 10px;
	color: white;
  background-color: rgb(95, 70, 48);
  font-size:xx-small;
  
}
.mini-btn:hover{
  transform: scale(1.1);
}

/* 編集 */
.list-edit > input{

}


.buy-line {

}

/* 追加ボタン */
.post-box{
  width: 90%;
  max-width: 500px;
  background-color: #E0D8B0;
  border-radius: 10px;
  margin: 1em auto;
  padding:2em 1em 1em;
}

.list-add{
  border: rgb(95, 70, 48) 2px solid;
  border-radius: 5%;
  background-color: #FCFFE7;
  margin: 2px;
}

.add-ing{
  width: 10em;
}
.add-amount{
  width: 5em;
}
.add-where{
  width: 5em;
}
.add-who{
  width: 4em;
}



.list-add-file{

}

.add-btn{
  color:darkorange;
  border: #000000 solid 3px;
}

.comment{
  width: 90%;
  max-width: 500px;
<<<<<<< Updated upstream
  background-color: #E0D8B0;
  border-radius: 10px;
  margin: 1em auto;
  padding:2em 1em 1em;
=======
  border-radius: 19px;
  margin: 2em auto; /* ボックスの余白 */
	position:relative; /* 配置(ここを基準に) */
}

#question {
  width: 300px;
  height: 250px;
  position: fixed;
  top: 20vh;
  left: calc(50% - 150px);
}

.question-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background: blue;
  border-radius: 10px;
  color: white;
  padding: 10px;
>>>>>>> Stashed changes
}