body{
    background-color: #FCFFE7;
    color: rgb(95, 70, 48);
    font-family: "M PLUS 1p";
  }

/* ここからヘッダーの修飾 */
.display_btn{
    display: flex;
    align-items: center;
    text-align: center;
    background-color: rgb(95, 70, 48);
    width: 100vw;
    height: 6em;
    position: fixed;
    top: 0;
    z-index: 2;
}

.profile{
  height: 100%;
  aspect-ratio: 1/1;
}

.self_image{
  height: 80%;
  aspect-ratio: 1/1;
  border-radius: 100px;
  background-color: antiquewhite;
  overflow: hidden;
  margin: 10px;
}

.btn{
  margin: 0.5em;
  color:white;
  font-family: "M PLUS 1p";
  font-size: 24px;
  text-decoration-line:none ;
  transition: .3s;
}

.btn:hover{
  transform: scale(1.1);
}


/* ==メインの装飾== */
main{
  margin: 120px 0 0;   
}

.buylist-box{
  margin: 1em auto;
  /* ボックス背景色 */
    padding:2em 1em 1em; /* ボックス内側余白 */
    position:relative; /*配置(ここを基準に)*/
    width: 90%;
    max-width: 500px;
    background-color: #E0D8B0;
    border-radius: 19px;
}

/* チェックリストの題名 */
.day-number{
  font-family: 'Archivo Black', sans-serif;
  background-color: rgba(255,255,255,.5);/* テープ背景色と透過*/
	border-left: 2px dotted rgba(0,0,0,.1);/* テープのギザギザ左*/
	border-right: 2px dotted rgba(0,0,0,.1);/* テープのギザギザ右*/
	box-shadow: 0 0 5px rgba(0,0,0,0.2); /*テープ影*/
	transform: rotate(-2deg);/*テープの傾き*/
	font-size: 1em;/*タイトル文字の大きさ*/
	color: rgb(95, 70, 48); /*タイトル文字色 */
	padding: 10px 20px;/*タイトルの余白*/
	line-height: 1;/*タイトルの行の高さ*/
	position:absolute;/*配置(ここを動かす)*/
	top: -15px; /*上から（-10px）移動*/
	left: 20px; /*左から(20px)移動*/
}

.menu-title{
  font-size: xx-large;
  font-weight: bold;
  border-bottom: 3px solid;
  text-align: center;
}

.list-title{
  display: flex;
  align-items: center;
}
.list-checkbox{
  margin: 4px 4px 4px 0;
  font-size:x-large;
}
.list-detail{
  width: 80%;
  text-align: center;
}

/* チェックリスト一つひとつ */
.buy-line{
  /* display:flex; */
  /* justify-content: space-between; */
  width: 90%;

}

.list-line{
  display: flex;
}

.list-title-text{
  font-size: 12px;
}

.list-food{
  max-width: 50%;
}

.list-imagebox{
  max-width: 50%;
}

.food-image{
  max-width: 100px;
}

.dd{
  background-color: #FCFFE7;
}

/* 削除編集ボタン */
.btn-area{
  position: absolute;
  right: 10px;
}
.mini-btn{
  border: none;
	border-radius: 10px;
	color: white;
  background-color: rgb(95, 70, 48);
  font-size:xx-small;
  
}
.mini-btn:hover{
  transform: scale(1.1);
}

/* 編集 */
.list-edit > input{

}


.buy-line {

}

/* 追加ボタン */
.post-box{
  width: 90%;
  max-width: 500px;
  background-color: #E0D8B0;
  border-radius: 10px;
  margin: 1em auto;
  padding:2em 1em 1em;
}

.list-add{
  border: rgb(95, 70, 48) 2px solid;
  border-radius: 5%;
  background-color: #FCFFE7;
  margin: 2px;
}

.add-ing{
  width: 6em;
}
.add-amount{
  width: 4em;
}
.add-where{
  width: 5em;
}
.add-who{
  width: 4em;
}



.list-add-file{

}

.add-btn{
  border: none;
  color:white;
  background-color: rgb(95, 70, 48);
  border-radius: 3px;
  margin: 10px;
}
.add-btn:hover{
  transform: scale(1.1);
}


/* コメント機能 */
.comment-box{
  width: 90%;
  max-width: 500px;
  border-radius: 19px;
  margin: 2em auto; /* ボックスの余白 */
	position:relative; /* 配置(ここを基準に) */
	border: 2px solid #E0D8B0/* ボックスの線 (太さ　種類　色)*/
}
.comment-title{
  color: rgb(95, 70, 48);
  font-family: 'Archivo Black', sans-serif;
  background-color:#FCFFE7; /* タイトル背景色 */
	font-size: 1em;/* タイトル文字の大きさ */
	font-weight:800;
	padding: 0 5px;/*タイトルの余白*/
	line-height: 1;/*タイトルの行の高さ*/
	position:absolute;	/* 配置(ここを動かす) */
	top: -5px; /*上から（-5px）移動*/
	left: 20px; /*左から(20px)移動*/
}
.comment{
  position: relative;
  margin: 1.5em 0 1.5em 15px;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 90%;
  color: rgb(95, 70, 48);
  font-size: 12px;
  background: #E0D8B0;
  border-radius: 5px;
}
.comment:before {
  content: "";
  position: absolute;
  top: 55%;
  left: -15px;
  margin-top: -5px;
  border: 5px solid transparent;
  border-right: 10px solid #E0D8B0;
}

.comment-post-box{
  width: 90%;
  max-width: 500px;

  border-radius: 19px;
  margin: 2em auto; /* ボックスの余白 */
	position:relative; /* 配置(ここを基準に) */
}

#question {
  width: 300px;
  height: 250px;
  position: fixed;
  top: 20vh;
  left: calc(50% - 150px);
}

.question-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background: blue;
  border-radius: 10px;
  color: white;
  padding: 10px;

}