body{
    background-color: #FCFFE7;
  }
  
/* ここからヘッダーの修飾 */
.display_btn{
    display: flex;
    align-items: center;
    text-align: center;
    background-color: rgb(95, 70, 48);
    width: 100vw;
    height: 6em;
    position: fixed;
    top: 0;
    z-index: 2;
}

.profile{
  height: 100%;
  aspect-ratio: 1/1;
}

.self_image{
  height: 80%;
  aspect-ratio: 1/1;
  border-radius: 100px;
  background-color: gray;
  overflow: hidden;
  margin: 10px;
}

.btn{
  margin: 0.5em;
  color:white;
  font-family: "M PLUS 1p";
  font-size: 24px;
  text-decoration-line:none ;
  transition: .3s;
}

.btn:hover{
  transform: scale(1.1);
}


/* ==メインの装飾== */
main{
  margin: 100px 0 0;   
}

.buylist-box{
  margin: 1em auto;
  /* ボックス背景色 */
    padding:2em 1em 1em; /* ボックス内側余白 */
    position:relative; /*配置(ここを基準に)*/
    width: 90%;
    background-color: #E0D8B0;
}

.buy-line{
    display:flex;
    /* justify-content: space-between; */
}

h1{
  font-size: 30px;
  margin:20px auto;
}

span{
  font-size: 14px;
  color: brown;
}

.food-image{
  max-width: 100px;
}

.dd{
  background-color: palevioletred;
}

.gg-btn {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	position: relative;
	/* width: 120px; */
	margin: auto;
	/* padding: 1rem 4rem; */
	font-weight: bold;
	border-radius: 10px;
	color: #000000;
	border: 3px solid #E0D8B0;
	/* box-shadow: 5px 5px #E0D8B0; */
	transition: 0.3s ease-in-out;
}
.gg-btn:hover {
	box-shadow: none;
	transform: translate(5px, 5px);
	color: #E0D8B0;
}

.buy-line {
  display: flex;
  align-items: start;
}

.buy-line label, .buy-line img {
  margin-right: 10px; /* Adjust the margin as needed */
}

.add-btn{
  color:darkorange;
  border: #000000 solid 3px;
}

@media screen and (max-width:800px){
.buy-line {
    margin-top:10px;
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adjust the gap as needed */
    background-color: chocolate;
}
*{
  font-size: 20px;
}
.buy-line label, .buy-line img {
    margin-bottom: 0; 
    margin-right: 0;/* Adjust the margin as needed */
}

}