.buttons-top{
    display: flex;
    position: absolute;
    right: 10px;
}

.user-photo{
    display: block;
    aspect-ratio: 1/1;
    width: 25vw;
    border-radius: 50%;
    background-color: pink;
}

.menu-bottom{
    display: flex;
    width: 100vw;
}
.buttons-bottom{
    display: flex;
    width: 100%;
}

.button{
    width: 30%;
    height: 50%;
}


.tobuylist-text{
    display: flex;
}
