.profile-box{
    text-align: center;
    max-width: 800px; /* 画面幅に合わせて調整 */
    padding: 20px;
    margin: 20px;
    border: 5px solid  rgb(95, 70, 48);
    border-radius: 8px;
}

#username{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    border-bottom: 3px rgb(95, 70, 48) solid;
}

.self_image_big{
    margin: 5vh 5vh 0;
    width:60vw;
    max-width: 400px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    background-color: antiquewhite;
}

.change-image{
    text-decoration-line:none ;
    color:  rgb(95, 70, 48);
    font-family: "M PLUS 1p";;
}

.return-btn{
    margin: 20px;
}