/* div#app.container のスタイル修正 */
#app.container {
  margin: 0; /* 左右の余白を0に設定 */
  padding: 0;
  background-color: #E0D8B0;
}

/* stock_title のスタイル修正 */
.stock_title {
  width: 100%;
  background-color: #8B4513; /* 茶色の背景色 */
  color: white; /* 文字色を白に設定 */
  padding: 10px; /* 適切なパディングを追加 */
  text-align: center; /* テキストを中央揃え */
  align-items: center;
  margin: 0;
}

/* アイテムの追加ボタンのスタイル修正 */
/* ボタンボーダーのスタイル修正 */
.box.btn {
  display: inline-block; /* インラインブロック要素に設定 */
  border: 2px solid #8B4513; /* ボーダーの色と幅を設定 */
  background-color: transparent; /* 背景色を透明に設定 */
  color: #8B4513; /* 文字色を茶色に設定 */
  padding: 10px; /* 適切なパディングを追加 */
  text-align: center; /* テキストを中央揃え */
  cursor: pointer; /* ボタンのように見せるためにカーソルをポインターに設定 */
  width: fit-content; /* 文字の幅にボタンの横幅を自動調整 */
  margin-bottom: 20px; /* 適切なマージンを追加 */
}

/* item のスタイル修正 */
.item {
  margin: 0; /* 左右の余白を0に設定 */
  padding: 2em 1em 1em; /* ボックス内側余白 */
  position: relative; /* 配置(ここを基準に) */
  width: 100%;
  background-color: #E0D8B0;
}

/* スタイル修正 */
/* スタイル修正 */
.item-content p.text-center {
  padding: 1px 6px; /* 上下左右のパディングを1px 6pxに変更 */
  margin: 0;
}


.box{
  text-align: center;
  background-color: rgb(124, 118, 118);
  color: white;
}

.itembutton{
  text-align: right;
}



