

.display_btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: rgb(95, 70, 48);
  width: 100vw;
  height: 6em;
  position: fixed;
  top: 0;
  z-index: 2;
}

.profile{
height: 100%;
aspect-ratio: 1/1;
}

.self_image{
height: 80%;
aspect-ratio: 1/1;
border-radius: 100px;
background-color: antiquewhite;
overflow: hidden;
margin: 10px;
}

.menubtn{
margin: 0.5em;
color:white;
font-family: "M PLUS 1p";
font-size: 24px;
text-decoration-line:none ;
transition: .3s;
}

.menubtn:hover{
transform: scale(1.1);
}

main{
  margin-top: 90px;
}
/* div#app.container のスタイル修正 */
#app.container {
  margin: 0;
  padding: 0;
  background-color: transparent;

  height: 932px; /* 固定の高さを設定 */
  width: 430px; /* 固定の幅を設定 */
  display: flex;
  flex-direction: column;
  /* background-color: rgba(251, 174, 174, 0.8);背景色を薄くし、透明度を調整 */
  height: 932px;
  background-image: url('/img/refriger2.png');
  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top; /* 画像を中央に配置 */
  background-size: contain; /* 画像を横幅いっぱいに広げ、高さは画面内に収める */
}

/* stock_title のスタイル修正 */
.stock_title {
  width: 100%;
  height: 40px;
  /* background-color: #8B4513; */
  color: white;
  /* padding: 10px; */
  text-align: center;
  margin: 20px auto;
}

/* アイテムの追加ボタンのスタイル修正 */
.box.btn {
  display: inline-block;
  border: 2px solid #8B4513;
  background-color: transparent;
  color: #8B4513;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  width: fit-content;
  margin-bottom: 20px;
}

/* item のスタイル修正 */
.box.title {

  margin: 0 auto;

  position: relative;
  width: 100%;
  max-width: 80%;
  background-color: transparent;
  text-align: center;
  font-size: 20px;
  color: black;
}

.item-content p.text-center {
  padding: 1px 6px;
  margin: 0;
}

.box {
  text-align: center;

  background-color: rgba(66, 52, 52, 0.7);

  color: white;
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
  border: #8B4513;
}

.itembutton {
  text-align: right;
  margin-right: 50px;
}

