.antialiased{
    background-color: #FCFFE7;
}

.toptitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.toptitle-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.toptitle-text{
    font-size: 50px;
    font-weight: bold;
    margin: 50px;
    color: #1569BD;
    font-family: 'Archivo Black', sans-serif;
}

.top-login{
    font-size: 30px;
    color: #1569BD;
    font-family: 'Archivo Black', sans-serif;
}


.shopping-cart{
    transform: rotate(15deg);
    position: absolute;
    bottom: 130px;
}

.wave{
    position: absolute;
    bottom: 0;
    height: 160px;
    width: 100vw;
}
.wave-ground{
    position: absolute;
    bottom: 0;
    height: 70px;
    width: 100vw;
    background-color: #CE9461;
}

@media screen and (min-width:720px){
    .toptitle{
        height: 30vh;
    }
    .wave-ground{
        height: 112px;
    }
    .shopping-cart{
        bottom: 140px;
    }
}
